.menu-list {
    width: 260px;

    .menu-item {
        margin-left: 0px;
        border-radius: 0;
    }
}

.menu-popper {
}

// Menu items
.menu-item {
    font-weight: 400;
    &:hover {
        background-color: var(--primary);
    }
}

// Header
.header {
    position: relative;
    height: 50px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}
